.todos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.todosContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.blured {
	filter: blur(4px);
}

.todo {
	width: 50%;
	height: 50px;
	background-color: rgb(112, 112, 255);
	border-radius: 10px;
	font-size: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	margin: 10px 0;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

.todosControls {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.todosControls form {
	display: flex;
}

.todosControls input {
	height: 20px;
	padding-left: 5px;
	border-radius: 6px;
	border: 1.5px solid rgb(171, 171, 171);
}

.todosControls form input {
	border-radius: 6px 0 0 6px;
	border-right: none;
}

.todosControls button {
	height: 24.67px;
	border: none;
	border-radius: 6px;
	background-color: rgb(112, 112, 255);
	color: #fff;
	padding: 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.todosControls form button {
	border-radius: 0 6px 6px 0;
}

.todo div {
	display: flex;
	gap: 10px;
}

.editButton {
	width: 20px;
	height: 20px;
	background: url(../assets/img/edit-img.png) no-repeat center top / cover;
	cursor: pointer;
}

.editTodoForm {
	position: absolute;
	top: -45%;
	left: -40%;
	z-index: -1;
	opacity: 0;
	display: none;
}

.active {
	top: 40%;
	left: 40%;
	z-index: 1;
	display: block;
	opacity: 1;
}

.deleteButton {
	width: 20px;
	height: 20px;
	background: url(../assets/img/delete-img.png) no-repeat center top / cover;
	cursor: pointer;
}

.error {
	color: red;
}

.hide {
	display: none;
}

.show {
	display: flex;
}
